.table-cell-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.progressBar{
  display: flex;
  justify-content: center;
}
#chartdiv {
  width: 100%;
  height: 500px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}