/* .MuiStepper-vertical {
  width: 100%;
} */
.content{
  margin-left: 8% !important;
  /* margin-bottom: 7px; */
  padding-left: 8% !important;
}
.MuiStepConnector-root{
  margin-left: 8% !important;
  padding-left: 8% !important;

}
.stepperDiv{
  /* display: flex;
  align-items: 'center';
  justify-content: 'center';
  /* width: '100%';  */
  /* background-color: black; */
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  /* display: flex;
  align-items: end;
  justify-content: center; */
}
.stepLabel {
  margin-left: -200px;
}
/* .content div{
  display: none;
} */

.MuiStepConnector-line{
  margin-left: 12px;
}
.MuiStepIcon-root.MuiStepIcon-active{
  color: green!important;
}